## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Hermanus,ZA,-34.42,19.23,57.00,74,0,4.00,clear sky,2/4/2022 21:28
1,1,Rikitea,PF,-23.12,-134.97,75.24,69,0,6.87,clear sky,2/4/2022 21:28
2,2,Longyearbyen,SJ,78.22,15.64,24.80,62,75,11.41,broken clouds,2/4/2022 21:28
3,3,Susanville,US,40.42,-120.65,60.80,19,1,3.36,clear sky,2/4/2022 21:28
4,4,Pokaran,IN,26.92,71.92,72.48,20,0,2.91,very heavy rain,2/4/2022 21:28

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Rikitea,PF,-23.12,-134.97,75.24,69,0,6.87,clear sky,2/4/2022 21:28
4,4,Pokaran,IN,26.92,71.92,72.48,20,0,2.91,very heavy rain,2/4/2022 21:28
7,7,Camalu,MX,30.85,-116.07,82.99,10,44,4.00,scattered clouds,2/4/2022 21:28
8,8,Tura,IN,25.52,90.22,71.71,96,100,0.13,overcast clouds,2/4/2022 21:28
9,9,Bowen,AU,-20.02,148.23,66.20,93,0,3.36,clear sky,2/4/2022 21:28
10,10,Mar Del Plata,AR,-38.00,-57.56,66.20,55,0,13.87,clear sky,2/4/2022 21:28
12,12,Salalah,OM,17.02,54.09,77.00,33,0,3.36,clear sky,2/4/2022 19:32
16,16,Wanning,CN,18.80,110.40,71.62,87,20,8.63,few clouds,2/4/2022 21:28
18,18,Richards Bay,ZA,-28.78,32.04,65.79,86,100,5.75,light rain,2/4/2022 21:28
20,20,Asfi,MA,32.30,-9.24,68.25,76,0,12.93,clear sky,2/4/2022 21:28

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                163
City                   163
Country                162
Lat                    163
Lng                    163
Max Temp               163
Humidity               163
Cloudiness             163
Wind Speed             163
Current Description    163
Date                   163
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID                163
City                   163
Country                162
Lat                    163
Lng                    163
Max Temp               163
Humidity               163
Cloudiness             163
Wind Speed             163
Current Description    163
Date                   163
dtype: int64

In [15]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Rikitea,PF,-23.12,-134.97,75.24,69,0,6.87,clear sky,2/4/2022 21:28
4,4,Pokaran,IN,26.92,71.92,72.48,20,0,2.91,very heavy rain,2/4/2022 21:28
7,7,Camalu,MX,30.85,-116.07,82.99,10,44,4.00,scattered clouds,2/4/2022 21:28
8,8,Tura,IN,25.52,90.22,71.71,96,100,0.13,overcast clouds,2/4/2022 21:28
9,9,Bowen,AU,-20.02,148.23,66.20,93,0,3.36,clear sky,2/4/2022 21:28
...,...,...,...,...,...,...,...,...,...,...,...
370,370,Mitzic,GA,0.78,11.55,69.55,98,100,2.51,light rain,2/4/2022 19:34
374,374,Pipraich,IN,26.83,83.53,72.63,43,38,6.58,scattered clouds,2/4/2022 19:37
375,375,Mulki,IN,13.10,74.80,78.80,88,40,5.01,mist,2/4/2022 19:37
376,376,Abu Samrah,SY,35.30,37.18,66.49,55,0,8.01,clear sky,2/4/2022 19:37
378,378,Kilindoni,TZ,-7.91,39.67,79.23,79,20,12.15,light rain,2/4/2022 19:37

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,75.24,clear sky,-23.12,-134.97,
4,Pokaran,IN,72.48,very heavy rain,26.92,71.92,
7,Camalu,MX,82.99,scattered clouds,30.85,-116.07,
8,Tura,IN,71.71,overcast clouds,25.52,90.22,
9,Bowen,AU,66.20,clear sky,-20.02,148.23,
10,Mar Del Plata,AR,66.20,clear sky,-38.00,-57.56,
12,Salalah,OM,77.00,clear sky,17.02,54.09,
16,Wanning,CN,71.62,few clouds,18.80,110.40,
18,Richards Bay,ZA,65.79,light rain,-28.78,32.04,
20,Asfi,MA,68.25,clear sky,32.30,-9.24,

In [19]:
len(hotel_df)

163

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [22]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df.head()

      City Country  Max Temp Current Description    Lat     Lng Hotel Name
1  Rikitea      PF     75.24           clear sky -23.12 -134.97    Rikitea
4  Pokaran      IN     72.48     very heavy rain  26.92   71.92    Pokhran
7   Camalu      MX     82.99    scattered clouds  30.85 -116.07     Camalú
8     Tura      IN     71.71     overcast clouds  25.52   90.22       Tura
9    Bowen      AU     66.20           clear sky -20.02  148.23      Bowen

In [24]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [27]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))